body {
  display: flex;
  flex-direction: column;
  text-align: center;
  .container {
    padding: 0px 24px;
  }
  .one {
    padding-top: 88px;
    article {
      padding-top: 16px;
    }
  }
  .two {
    padding-top: 64px;
    padding-bottom: 68px;
    form {
      margin-top: 24px;
      border-radius: 10px;
      padding: 24px;
      input {
        width: 100%;
        padding: 15px 0 15px 19.41px;
        margin-bottom: 16px;
        border-radius: 5px;
        outline: none;
        border: 1px solid rgba(61, 59, 72, 0.2);
      }
    }
    button {
      border: none;
      border-radius: 5px;
      width: 100%;
      max-width: 450px;
    }
    .topBtn {
      padding: 18px 66px;
    }
    .botBtn {
      padding: 15px 0;
    }
    .tos {
      padding-top: 8px;
    }
  }
}
