@use "../_variables.scss" as v;

body {
  font-family: v.$pageFont;
  color: v.$white;
  background-color: v.$primary;
  background-image: v.$mobileBackgroundImg;
  header {
    h1 {
      font-size: v.$titleFontSize;
      font-weight: v.$textBoldFontW;
      line-height: v.$titleLH;
    }
    article {
      font-weight: v.$textMainFontW;
    }
  }
  .topBtn {
    font-family: v.$pageFont;
    font-size: v.$btnFontSize;
    background-color: v.$btnColorPurple;
    color: v.$white;
    box-shadow: v.$shadow;
    .topBtnText {
      font-weight: v.$textInputFontW;
    }
  }
  form {
    background-color: v.$white;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    input {
      font-family: v.$pageFont;
      font-weight: v.$textInputFontW;
      font-size: v.$inputFontSize;
      color: v.$inputColor;
    }
    .botBtn {
      background-color: v.$btnColorGreen;
      color: v.$white;
      font-family: v.$pageFont;
      font-size: v.$btnFontSize;
      font-weight: v.$textMainFontW;
      box-shadow: v.$botBtnShadow;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .botBtn:hover{ 
      background-color: v.$btnHover;
      cursor: url("../../images/pointer.png"),pointer;
    }
    .tos {
      color: v.$tosColor;
      font-size: v.$tosFontSize;
      a {
        color: v.$primary;
      }
    }
  }
}
@media screen and (min-width: 640px) {
  body {
    background-image: v.$desktopBackgroundImg;
  }
}
